													<div class="box_inner box_end box_actualite_carac">
                                                        <h4>Caractéristiques</h4>
                                                        <div class="info_list">
                                                            <div class="info_list">
                                                                <div class="float">
                                                                    <dl>
                                                                        <dt>Origine&nbsp;:</dt>
                                                                        <dd><strong>Asiatique</strong></dd>
                                                                    </dl>
                                                                    <dl>
                                                                        <dt>Marque&nbsp;:</dt>
                                                                        <dd><strong>Hyundai</strong></dd>
                                                                    </dl>
                                                                </div>
                                                                <div class="float">
                                                                    <dl>
                                                                        <dt>Modèle&nbsp;:</dt>
                                                                        <dd><strong>Accent</strong></dd>
                                                                    </dl>
                                                                    <dl>
                                                                        <dt>Version&nbsp;:</dt>
                                                                        <dd><strong>Gl Auto, A/c , Groupe Elec</strong></dd>
                                                                    </dl>
                                                                </div>
                                                            </div>
                                                            <div class="clearer"></div>
                                                        </div>
                                                        <table class="tbl_results">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Type de véhicules</th>
                                                                    <th scope="col">Transmission</th>
                                                                    <th scope="col">Nombre de cylindres</th>
                                                                    <th scope="col">Taille du moteur</th>
                                                                    <th class="last" scope="col">Motricité</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="tbl_header_foot">
                                                                    <td></td>
                                                                    <td class="last" colspan="5"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Berline</td>
                                                                    <td>Automatique</td>
                                                                    <td>4</td>
                                                                    <td>1.6 litres</td>
                                                                    <td class="last">Roues motrices avant</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="tbl_results">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Type de carburant</th>
                                                                    <th scope="col">Kilométrage</th>
                                                                    <th scope="col">Nombre de portes</th>
                                                                    <th scope="col">Nombre de passagers</th>
                                                                    <th class="last" scope="col">Air climatisé</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr class="tbl_header_foot">
                                                                    <td></td>
                                                                    <td class="last" colspan="5"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Sans plomb</td>
                                                                    <td>S/O</td>
                                                                    <td>S/O</td>
                                                                    <td>5</td>
                                                                    <td class="last">Oui</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div class="info_list more_info">
                                                            <dl>
                                                                <dt>Couleur Extérieure&nbsp;:</dt>
                                                                <dd>Argent</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Couleur Intérieure&nbsp;:</dt>
                                                                <dd>Gris</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Options&nbsp;:</dt>
                                                                <dd>AM/FM Stéréo, Air climatisé, Antivol, Anti-démarreur, Lecteur DC, Coussins gonflables cond., Coussins gonflables doubles, Enjoliveur de roues, Essuie-glace intermittent, Verrouillage sans clef, Servo-freins, Mirroirs électriques, Servo-direction, Vitres électriques, Dégivreur arrière, Volant ajustable, Sièges baquets, Verrouillage électrique, Siège arrière pliant, Coussins gonflables pour passagers, Intérieur Tissus</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Garantie du manufacturier&nbsp;:</dt>
                                                                <dd>Disponible, , BALANCE DE GARANTIE HUYNDAI 5 ANS OU 100000 KM. AVRIL 2013</dd>
                                                            </dl>
                                                            <dl>
                                                                <dt>Financement&nbsp;:</dt>
                                                                <dd>Disponible, type de financement : crédit Bancaire</dd>
                                                          </dl>
                                                        </div>
                                                    
                                                    </div>