@charset "utf-8";
/* CSS Document */

#result_photo {
	background:transparent url(/include/img/0/line-double.gif) repeat-x scroll 0 0;
	margin:0 10px;
	/*padding:40px 0 0 20px;*/
	padding-left:10px;
	width:650px;
}
#result_photo li {
	display:inline;
	float:left;
	height:275px;
	margin:0 10px;
	padding:0 10px 10px;
	position:relative;
	width:160px;
}
.result_img {
	background-color:#FFFFFF;
	border:1px solid #FFFFFF;
	margin:2px 2px 10px;
}
#result_photo .result_img .extra_etiquette {
	background-position:0 0;
	top:10px;
}
#result_photo .result_img .extra_etiquette {
	background:transparent url(../images/v6/bg-nb-img.gif) no-repeat scroll 0 0;
	color:#FFFFFF;
	display:block;
	font-size:83%;
	height:16px;
	left:12px;
	overflow:hidden;
	padding:0 5px;
	margin:0;
	position:absolute;
	text-align:center;
}
#result_photo li img {
	display:block;
	height:116px;	
	margin:10px 0 5px 2px;
	width:155px;
}
#result_photo li p {
	height:150px;
	overflow:auto;
}
#result_photo .pub-5 {
	height:0;
	width:550px;
}

/*Le popup*/
.result_pop_up {
	left:50%;
	margin:0 0 0 -400px;
	position:absolute;
	top:650px;
	width:472px;
}
.pop_up_middle .result_pop_up_top {
	margin-left:225px;
}
.result_pop_up .result_pop_up_top {
	background:transparent url(/include/img/0/result-popup-top.png) no-repeat scroll 0 0;
	height:20px;
	margin:-15px 0 0 15px;
	position:absolute;
	width:26px;
}
.result_pop_up .result_pop_up_inner {
	background:transparent url(../images/v6/bg-result-popup.gif) no-repeat scroll 0 0;
}
.result_pop_up .float_r {
	margin:3px 3px 0 0;
}

.bt_close {
	background:transparent url(../images/v6/bt-close.gif) no-repeat scroll 0 0;
	display:block;
	height:25px;
	float:right;
	text-indent:-9000px;
	width:30px;
}
.result_pop_up .pop_up_inner {
	clear:both;
	overflow:hidden;
	text-align:center;
	width:100%;
}
.result_pop_up .img_photo {
	display:block;
	margin:0 0 15px;
	position:relative;
}

.result_pop_up .self_clear {
	margin:0 0 5px 0;
}
.self_clear {
	overflow:hidden;
	width:100%;
}
.result_pop_up .self_clear div {
	display:inline;
	float:left;
	margin:0 0 0 12px;
}
.result_pop_up .price {
	display:block;
}
.pop_up_desc h4 {
	font-size:117%;
	font-weight:bold;
	margin:0 0 5px 0;
}
.result_pop_up .self_clear .pop_up_detail {
	display:inline;
	float:right;
	font-size:91%;
	margin:0 12px 0 0;
	width:30%;
}
.result_pop_up .self_clear .pop_up_detail p {
	float:right;
	width:100%;
}
.result_pop_up .self_clear .pop_up_detail p span, .result_pop_up .self_clear .pop_up_detail p a {
	float:right;
}

.result_pop_up .self_clear .pop_up_detail .date {
	clear:both;
	text-align:right;
}
.result_pop_up .self_clear .pop_up_detail p {
	float:right;
	width:100%;
}
.info_list dl dt, .date {
	color:#999999;
}
.result_pop_up .result_foot {
	margin:0 1px;
}
.result_pop_up .result_foot .float_r {
	margin-top:1px;
}
.result_foot .float_r li {
	float:right;
	margin-top:8px;
}

.result_pop_up .result_pop_up_foot {
	background:transparent url(../images/v6/bg-result-popup-foot.gif) no-repeat scroll 0 0;
	font-size:1px;
	height:3px;
	overflow:hidden;
}
.result_pop_up .img_photo .extra_etiquette {
	margin: -275px 0 0 45px;
}