@charset "utf-8";
/* CSS Document */

input.invalid, textarea.invalid, select.invalid {
	border: 1px dotted red !important;
	background-color:#F1F1F1;
	/*border:1px solid #ABADB3;*/
	color:#184059;
	font-family:"Trebuchet MS",Arial,Sans-serif;
	font-size:12px;
	font-weight:normal;
	height:18px;
	margin:0 0 5px;
}

select.invalid {
	vertical-align:middle;
	height:20px;
}
textarea.invalid {
	height:100px;
}


input.invalid:focus, textarea.invalid:focus, select.invalid:focus {
}

p#errorDisplay {
	border: 1px;
	border-color:red;
	border-style: solid;
	color:red !important;
	display: none;
	margin:5px 10px;
	/*margin:10px;*/
}

.errorDisplay {
	color:red !important;
	visibility: hidden;
}



